*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: radial-gradient(#dbdbdc, #020923);
}

html{
    min-height: 100vh;
}

.page-title{
    color: white;
    font-family: 'Silkscreen', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 5em;
}

.match-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap:10px;
    margin: 50px;
    justify-content: center;
}

.match-info-container{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.match-info{
    color: white;
    font-family: 'Silkscreen', cursive;
    font-size: 3em;
}

.card{
    background-color: black;
    position: relative;
    height: 250px;
    width: 175px;
    margin: 25px;
    padding-top: 50;
}